In [37]:
#1.1.3 nama di contributor belum ada di author#
#memindahkan name contributor yang nama orang ke author dan mengubah id_author dan cntributor_id di collection_contributor#
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile

df = pd.read_excel('contributors.xlsx')
df1 = pd.read_excel('authors.xlsx')

df2 = df[df['name'] == ' Septi Budi Sartika']
df3 = df[df['name'] == ' M. Tanzil Multazam ']
df4 = df[df['name'] == ' Yuli Astutik']
df5 = df[df['name'] == ' Noly Shofiyah']
df6 = df[df['name'] == ' M. Zaki Riyanto']
df7 = df[df['name'] == ' H. Joko Warwanto']
df8 = df[df['name'] == ' Sri Ngapiyatun']
df9 = df[df['name'] == ' Noveria S']
df10 = df[df['name'] == ' Edi Djunaedi']
df11 = df[df['name'] == ' Faridiyah Husna']
df12 = df[df['name'] == ' Rizky Erwanto']
df13 = df[df['name'] == ' Dr. Dien Sumiyatiningsih']
df14 = df[df['name'] == ' Ns. Abdul Muhith']
df15 = df[df['name'] == ' Sajidin']
df16 = df[df['name'] == ' dan Wahit Iqbal Mubarak']
df17 = df[df['name'] == ' Drs. Ischak']
df18 = df[df['name'] == ' Ir. Hj. Hevearita G. Rahayu']
df19 = df[df['name'] == ' Kriseptiana Hendrar Prihadi']
df20 = df[df['name'] == ' Cecilia Titiek Murniati  Asah']
df21 = df[df['name'] == ' Emilia Ninik Aydawati  Veni']
df22 = df[df['name'] == ' Kristiana Haryanti  Peranku']
df23 = df[df['name'] == ' Muhammad Rifki']
frame = [df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13, 
          df14, df15, df16, df17, df18, df19, df20, df21, df22, df23]
result = pd.concat(frame)
result.drop(['type','is_creator','show', 'deleted_at'],axis=1,inplace=True)
result['photo'] = None
result['year_of_birth'] = None
result['year_of_death'] = None
result['count'] = None
result['title'] = None
result.rename(columns={'name':'fullname'}, inplace=True)
result = result[['id', 'fullname','title','slug','photo', 'year_of_birth', 'year_of_death', 'count','created_at', 
                 'updated_at']]
result.columns.values
#Rename dulu
new_columns = result.columns.values
new_columns[0] = 'id'
result.columns = new_columns
result = result.set_index('id')
result['id'] = None
frame1 =[df1, result]
result1 = pd.concat(frame1)
result1['id'].fillna(df[index], inplace= True)
result1

#file author yang sudah di gabung dengan nama contributor
#result1.to_csv(r'C:\Users\diana\Downloads\author_lengkap.csv',index=False)

,id,fullname,title,slug,photo,year_of_birth,year_of_death,count,created_at,updated_at
0,1,Anov Blues One,NaN,anov-blues-one,public/main/user.png,NaN,NaN,0,2019-11-18 22:55:11,2019-11-18 22:55:11
1,2,Diah Paramitha & Iman Rahman,NaN,diah-paramitha-iman-rahman,public/main/user.png,NaN,NaN,0,2019-11-01 16:48:43,2019-11-01 16:48:43
2,3,Trancepost,NaN,trancepost,public/main/user.png,NaN,NaN,0,2019-11-01 17:15:07,2019-11-01 17:15:07
3,4,Cak Su (Antonius Subandrio),NaN,cak-su-antonius-subandrio,public/main/user.png,NaN,NaN,0,2019-10-31 19:09:57,2019-10-31 19:09:57
4,5,lovin-q,NaN,lovin-q,public/main/user.png,NaN,NaN,0,2019-11-01 19:14:01,2019-11-01 19:14:01
...,...,...,...,...,...,...,...,...,...,...
176,None,Kriseptiana Hendrar Prihadi,None,kriseptiana-hendrar-prihadi,None,None,None,None,2020-04-20 13:27:28,2020-04-20 13:27:28
177,None,Cecilia Titiek Murniati Asah,None,cecilia-titiek-murniati-asah,None,None,None,None,2020-04-20 13:27:28,2020-04-20 13:27:28
178,None,Emilia Ninik Aydawati Veni,None,emilia-ninik-aydawati-veni,None,None,None,None,2020-04-20 13:27:28,2020-04-20 13:27:28
179,None,Kristiana Haryanti Peranku,None,kristiana-haryanti-peranku,None,None,None,None,2020-04-20 13:27:28,2020-04-20 13:27:28
182,None,Muhammad Rifki,None,muhammad-rifki,None,None,None,None,2020-07-14 17:10:23,2020-07-14 17:10:23

In [81]:
#1.1.2. menghapus name contributor yang nama orang#
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile

df = pd.read_excel('contributors.xlsx')

df = df[df['name'] != ' Septi Budi Sartika']
df = df[df['name'] != ' M. Tanzil Multazam ']
df = df[df['name'] != ' Yuli Astutik']
df = df[df['name'] != ' Noly Shofiyah']
df = df[df['name'] != ' M. Zaki Riyanto']
df = df[df['name'] != ' H. Joko Warwanto']
df = df[df['name'] != ' Sri Ngapiyatun']
df = df[df['name'] != ' Noveria S']
df = df[df['name'] != ' Edi Djunaedi']
df = df[df['name'] != ' Faridiyah Husna']
df = df[df['name'] != ' Rizky Erwanto']
df = df[df['name'] != ' Dr. Dien Sumiyatiningsih']
df = df[df['name'] != ' Ns. Abdul Muhith']
df = df[df['name'] != ' Sajidin']
df = df[df['name'] != ' dan Wahit Iqbal Mubarak']
df = df[df['name'] != ' Drs. Ischak']
df = df[df['name'] != ' Ir. Hj. Hevearita G. Rahayu']
df = df[df['name'] != ' Kriseptiana Hendrar Prihadi']
df = df[df['name'] != ' Cecilia Titiek Murniati  Asah']
df = df[df['name'] != ' Emilia Ninik Aydawati  Veni']
df = df[df['name'] != ' Kristiana Haryanti  Peranku']
df = df[df['name'] != ' Muhammad Rifki']
df
#file contributor yang bersih dari nama orang
#df.to_csv(r'C:\Users\diana\Downloads\contributors_bersih.csv',index=False)

,id,name,slug,type,is_creator,show,created_at,updated_at,deleted_at
0,1,editor,editor,1,0,1,2019-11-10 14:39:28,2021-05-09 10:01:41,NaN
1,2,Editor,editor,2,0,0,2019-11-10 14:39:49,2021-05-05 11:16:29,NaN
2,3,Editor,editor,3,0,0,2019-12-29 22:06:49,2019-12-29 22:06:49,NaN
3,4,Editor,editor,4,0,0,2019-12-29 22:07:27,2019-12-29 22:07:27,NaN
4,5,Penerjemah,penerjemah,1,0,1,2020-03-02 08:06:44,2021-05-05 10:24:27,NaN
...,...,...,...,...,...,...,...,...,...
190,191,Foto editor,foto-editor,1,0,1,2021-07-03 21:32:55,2021-07-03 21:32:55,NaN
191,192,penata aksara,penata-aksara,1,0,1,2021-07-06 10:36:29,2021-07-06 10:36:29,NaN
192,193,Perwajahan,perwajahan,1,0,1,2021-08-03 21:03:06,2021-08-03 21:03:06,NaN
193,194,penulis,penulis,3,0,1,2021-08-14 09:58:52,2021-08-14 09:59:04,NaN
194,195,penulis,penulis,4,0,1,2021-08-14 09:59:19,2021-08-14 09:59:19,NaN

In [40]:
#1.1.1 nama di contributor ada di author#
#memindahkan name contributor yang nama orang ke author dan mengubah id_author dan cntributor_id di collection_contributor#
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile

df = pd.read_excel('contributors.xlsx')
df1 = pd.read_excel('authors.xlsx')
df2 = pd.read_excel('collection_contributors.xlsx')

df = df[df['slug'] != 'editor']
df = df[df['slug'] != 'penerjemah']
df = df[df['slug'] != 'ilustrator']
df = df[df['slug'] != 'penyunting']
df = df[df['slug'] != 'tim-penyusun']
df = df[df['slug'] != 'desain-cover']
df = df[df['slug'] != 'tim-produksi']
df = df[df['slug'] != 'sutradara']
df = df[df['slug'] != 'pemeran-artis']
df = df[df['slug'] != 'produser']
df = df[df['slug'] != 'penata-musik']
df = df[df['slug'] != 'sinematografi']
df = df[df['slug'] != 'editor-film']
df = df[df['slug'] != 'casting']
df = df[df['slug'] != 'desain-produksi']
df = df[df['slug'] != 'art-director']
df = df[df['slug'] != 'dekorasi']
df = df[df['slug'] != 'kostum']
df = df[df['slug'] != 'penata-rias']
df = df[df['slug'] != 'penata-suara']
df = df[df['slug'] != 'special-effect-visual-effect']
df = df[df['slug'] != 'animator']
df = df[df['slug'] != 'pemeran-pengganti']
df = df[df['slug'] != 'pengisi-suara']
df = df[df['slug'] != 'figuran']
df = df[df['slug'] != 'juru-kamera']
df = df[df['slug'] != 'penulis-script-skenario']
df = df[df['slug'] != 'properti']
df = df[df['slug'] != 'koreografer']
df = df[df['slug'] != 'sound-engineer']
df = df[df['slug'] != 'lighting-engineer']
df = df[df['slug'] != 'teknisi']
df = df[df['slug'] != 'studio-engineer']
df = df[df['slug'] != 'pengisi-suara']
df = df[df['slug'] != 'kru-lainnya']
df = df[df['slug'] != 'penyanyi-artis']
df = df[df['slug'] != 'dirijen-conductor']
df = df[df['slug'] != 'record-executive']
df = df[df['slug'] != 'penulis-lirik']
df = df[df['slug'] != 'penyanyi-latar']
df = df[df['slug'] != 'pemain-gitar']
df = df[df['slug'] != 'pemain-drum']
df = df[df['slug'] != 'pemain-bass']
df = df[df['slug'] != 'pemain-keyboard']
df = df[df['slug'] != 'proofreader']
df = df[df['slug'] != 'desain-isi']
df = df[df['slug'] != 'copy-editor']
df = df[df['slug'] != 'layouter']
df = df[df['slug'] != 'additional-player']
df = df[df['slug'] != 'pencipta-lagu']
df = df[df['slug'] != 'komposer']
df = df[df['slug'] != 'author']
df = df[df['slug'] != 'penulis']
df = df[df['slug'] != 'desain-sampul']
df = df[df['slug'] != 'translator']
df = df[df['slug'] != 'tata-letak-layout']
df = df[df['slug'] != 'penyunting-ahli']
df = df[df['slug'] != 'reviewer']
df = df[df['slug'] != 'alih-bahasa']
df = df[df['slug'] != 'penyadur']
df = df[df['slug'] != 'editorpenyunting']
df = df[df['slug'] != 'penyelaras-bahasa']
df = df[df['slug'] != 'editors']
df = df[df['slug'] != 'eeditor']
df = df[df['slug'] != 'ilustrator-pujiyanto']
df = df[df['slug'] != 'editor-prof-dr-murodi']
df = df[df['slug'] != 'penyuntingeditor']
df = df[df['slug'] != 'editor-materi']
df = df[df['slug'] != 'penejemah']
df = df[df['slug'] != 'ilustrasi']
df = df[df['slug'] != 'editing']
df = df[df['slug'] != 'editor-alih-bahasa']
df = df[df['slug'] != 'editor-translite']
df = df[df['slug'] != 'editor-translete-bahasa']
df = df[df['slug'] != 'ilustrasi-ingking']
df = df[df['slug'] != 'editor-translate-bahasa']
df = df[df['slug'] != 'co-writer']
df = df[df['slug'] != 'penyunting-bahasa']
df = df[df['slug'] != 'ilustrator-isi']
df = df[df['slug'] != 'content-editor']
df = df[df['slug'] != 'gambar-ilustrasi']
df = df[df['slug'] != 'editor-ahli']
df = df[df['slug'] != 'editor-bahasa']
df = df[df['slug'] != 'tim-editor']
df = df[df['slug'] != 'editor-prof-dr-anshari']
df = df[df['slug'] != 'editor-puspa-dewi']
df = df[df['slug'] != 'desain-dan-ilustrator']
df = df[df['slug'] != 'penyunting-isi']
df = df[df['slug'] != 'peredaksi']
df = df[df['slug'] != 'illustrator']
df = df[df['slug'] != 'penerjemah-sm-fitriyah']
df = df[df['slug'] != 'penyusun']
df = df[df['slug'] != 'ilusrator']
df = df[df['slug'] != 'penyunting-naskah']
df = df[df['slug'] != 'penyelia']
df = df[df['slug'] != 'editor-meisesa']
df = df[df['slug'] != 'pengkaji']
df = df[df['slug'] != 'ilsutrator']
df = df[df['slug'] != 'korektor']
df = df[df['slug'] != 'ilustrasi-sampul-dan-isi']
df = df[df['slug'] != 'penyunting-ilustrasi']
df = df[df['slug'] != 'pengolah-data']
df = df[df['slug'] != 'ilustrator-komik']
df = df[df['slug'] != 'ilustrasi-sampul']
df = df[df['slug'] != 'ilustrasi-isi']
df = df[df['slug'] != 'komik']
df = df[df['slug'] != 'pengarang']
df = df[df['slug'] != 'gambar']
df = df[df['slug'] != 'ilustrasi-isi-sampul']
df = df[df['slug'] != 'penyunting-bahasa-dan-penyelaras-akhir']
df = df[df['slug'] != 'ilustrasi-isi-dan-sampul']
df = df[df['slug'] != 'penyelaras-aksara']
df = df[df['slug'] != 'diedit-oleh-nabeela-latha-kalla']
df = df[df['slug'] != 'diedit-oleh-carol-kagezi']
df = df[df['slug'] != 'desain-sampul-dan-ilustrasi']
df = df[df['slug'] != 'editor-akuisisi']
df = df[df['slug'] != 'penyanyi']
df = df[df['slug'] != 'pemainbass']
df = df[df['slug'] != 'pemaindrum']
df = df[df['slug'] != 'penyanyiartis']
df = df[df['slug'] != 'musicdirector']
df = df[df['slug'] != 'music-director']
df = df[df['slug'] != 'pemaingitar']
df = df[df['slug'] != 'penyanyilatar']
df = df[df['slug'] != 'penulislirik']
df = df[df['slug'] != 'pemainkeyboard']
df = df[df['slug'] != 'additonalsessionplayer']
df = df[df['slug'] != 'krulainnya']
df = df[df['slug'] != 'arrangerpenatamusik']
df = df[df['slug'] != 'additionalsessionplayer']
df = df[df['slug'] != 'soundengineer']
df = df[df['slug'] != 'penanggung-jawab']
df = df[df['slug'] != 'penyelaras-akhir']
df = df[df['slug'] != 'pemeriksa-aksara']
df = df[df['slug'] != 'konsultan']
df = df[df['slug'] != 'fotografer']
df = df[df['slug'] != 'foto-editor']
df = df[df['slug'] != 'penata-aksara']
df = df[df['slug'] != 'perwajahan']
df.rename(columns={'id':'contributor_id'}, inplace=True)
df = pd.merge(df, df2, on ='contributor_id', how ='inner')
df1.rename(columns={'id':'author_id'}, inplace=True)
df3 = pd.merge(df, df1, on = 'author_id', how ='inner')
df.loc[df['type']==1, 'contributor_id'] = '61'
df.loc[df['type']==2, 'contributor_id'] = '59'
df.loc[df['type']==3, 'contributor_id'] = '194'
df.loc[df['type']==4, 'contributor_id'] = '195'
df.loc[df['type']==5, 'contributor_id'] = '58'
df.rename(columns={'created_at_x':'created_at'}, inplace=True)
df.rename(columns={'updated_at_x' : 'updated_at'}, inplace=True)
df = df[['id', 'collection_id', 'contributor_id', 'author_id', 'created_at', 'updated_at']]
df = (pd.merge(left=df, right=df2, how='outer', on=['id', 'collection_id'], indicator=True))
df['contributor_id_x'].fillna(df['contributor_id_y'], inplace= True)
df['created_at_x'].fillna(df['created_at_y'], inplace= True)
df['updated_at_x'].fillna(df['updated_at_y'], inplace= True)
df['author_id_x'].fillna(df['author_id_y'], inplace= True)
df.rename(columns={'created_at_x':'created_at'}, inplace=True)
df.rename(columns={'updated_at_x' : 'updated_at'}, inplace=True)
df.rename(columns={'contributor_id_x' : 'contributor_id'}, inplace=True)
df.rename(columns={'author_id_x' : 'author_id'}, inplace=True)
df = df[['id', 'collection_id', 'contributor_id', 'author_id', 'created_at', 'updated_at']]
df.to_csv(r'C:\Users\diana\Downloads\collection_contributors_baru.csv',index=False)

In [66]:
#1.1.4 count contributor_id yang baru
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile

df = pd.read_excel('1.1 contributors_bersih.xlsx')
df1 = pd.read_excel('1.1 collection_contributors_baru.xlsx')

df2 = df1.groupby(df1['contributor_id']).count()
df2.rename(columns={'id':'count_contributor'}, inplace=True)
df.rename(columns={'id':'contributor_id'}, inplace=True)
#df = (pd.merge(left=df, right=df2, how='outer', on=['contributor_id'], indicator=True)
df = pd.merge(df,df2,how = 'left', on ='contributor_id')
df.rename(columns={'created_at_x':'created_at'}, inplace=True)
df.rename(columns={'updated_at_x':'updated_at'}, inplace=True)
df = df[['contributor_id', 'count_contributor', 'name', 'slug', 'show', 'created_at', 'updated_at']]
df
#df.to_csv(r'C:\Users\diana\Downloads\count_contributors_baru.csv',index=False)

,contributor_id,count_contributor,name,slug,show,created_at,updated_at
0,1,11968.0,editor,editor,1,2019-11-10 14:39:28,2021-05-09 10:01:41
1,2,NaN,Editor,editor,0,2019-11-10 14:39:49,2021-05-05 11:16:29
2,3,NaN,Editor,editor,0,2019-12-29 22:06:49,2019-12-29 22:06:49
3,4,NaN,Editor,editor,0,2019-12-29 22:07:27,2019-12-29 22:07:27
4,5,215.0,Penerjemah,penerjemah,1,2020-03-02 08:06:44,2021-05-05 10:24:27
...,...,...,...,...,...,...,...
168,191,6.0,Foto editor,foto-editor,1,2021-07-03 21:32:55,2021-07-03 21:32:55
169,192,24.0,penata aksara,penata-aksara,1,2021-07-06 10:36:29,2021-07-06 10:36:29
170,193,23.0,Perwajahan,perwajahan,1,2021-08-03 21:03:06,2021-08-03 21:03:06
171,194,1.0,penulis,penulis,1,2021-08-14 09:58:52,2021-08-14 09:59:04
172,195,NaN,penulis,penulis,1,2021-08-14 09:59:19,2021-08-14 09:59:19